# .env.example
# Replace the values below with your actual credentials

# Adzuna API
ADZUNA_API=your_api_key_goes_here
ADZUNA_ID=your_id_goes_here

# Jooble API
JOOBLE_API=your_api_key_goes_here

# Postgres Database
DB_USER=admin
DB_PASSWORD=password123
DB_HOST=data_warehouse
DB_PORT=5432
DB_NAME=job_tracker
